<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.happyhouse.dao.HouseDao">

	<select id="selectAll" resultType="HouseInfo">
	    select * from houseinfo
	</select>

	<select id="selectDong" parameterType="java.lang.String" resultType="HouseDeal">
	    select * from houseDeal where dong = #{dong}
	</select>
	
	<select id="deepSearch" parameterType="Map" resultType="HouseInfo">
	    select * from houseinfo where dong = #{dong} and AptName = #{aptName}
	</select>
	
	<select id="selectNo" parameterType="java.lang.String" resultType="HouseInfo">
	    select * from houseinfo where no = #{no}
	</select>
	
	<update id="distUpdate" parameterType="Map">
		update houseinfo 
		set stationDist=#{stationDist}, parkDist=#{parkDist} where no=#{no}
	</update>
</mapper>